/* Bold - 700
semi-bold - 600
medium - 500
regular -400 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #ffffff;
}
.title {
  font-weight: 700;
}
.select_dropdown_option {
  background-color: #ff971d;
}
.data_title {
  font-weight: 600;
  font-size: 1.5rem;
}
.data_value {
  font-weight: 500;
  font-size: 1.2rem;
}
.data_card,
.card {
  border: none !important;
  background-color: #ffe8d6 !important;
  border-radius: 15px;
}
.select_dropdown {
  border: none;
  list-style: none;
  text-decoration: none;
  width: 60%;
  background-color: #ff971d;
  padding: 10px 7px;
  border-radius: 15px;
  font-weight: 500;
  color: #ffffff;
}
